#main{
    margin-top: 2.5em;
    padding: 1em;
}

#main .title{
    margin-right: 2em;
}

.post{
    padding: 1em;
}

.postLink{
    color: #333333;
    text-decoration: none;
}

.postLink:hover{
    color: #5E5C5C;
    text-decoration: none;
    cursor: pointer;
}
.fa-caret-square-o-down{
    font-size: 24pt;
    margin-top: -2.5em;
}

.navbar-brand{
font-size: xx-large;
}

.panel{
    margin-top: 5px;
    margin-bottom: 5px;
}