#main{
    margin-top: 2.5em;
    padding: 1em;
}

#main .title{
    margin-right: 2em;
    overflow: auto;
    margin-bottom: 60px;
}

#logo-place{
    
}

#logo-place img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#trendingTitle{
    color: white;
    margin-top: 10px;
}

#searchBox{
    width: auto;
}

#footer{
    position: relative;
    margin-top: -60px;
    height: 60px;
    background: #333333;
    color: white;
    padding: .5em;
    clear:both;
    padding-top:20px;
}

#hints{
    width: 100%;
    height: 50%;
    margin: 2em;
    margin-bottom: 10em;
    color: #8A8383;
}

#welcome{
    margin: 1em;
}

#welcome div{
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

.post{
    padding: 1em;
}

.postLink{
    color: #333333;
    text-decoration: none;
}

.postLink:hover{
    color: #5E5C5C;
    text-decoration: none;
    cursor: pointer;
}
.fa-caret-square-o-down{
    font-size: 24pt;
    margin-top: -2.5em;
}

.navbar-brand{
font-size: xx-large;
}

.navbar i{
    color: white;    
}

.panel{
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider-horizontal {
width: 100px;
}

.search-query{
    margin-top: 10px;
}